html, body {
    width: 100vw;
    font-family: 'pt_sans_caption', Helvetica, sans-serif;
    overflow-x: hidden;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
p {
    margin: 0px;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
button {
    outline: none;
}
:root {
    font-size: 15px;
    @include laptop {
        font-size: 14px;
    }
    @include tablet {
        font-size: 13px; 
    }
    @include phone {
        font-size: 12px;
    }
}
input, textarea {
    box-sizing: border-box;
}
.container-own {
    width: 95vw;
    max-width: 1280px;
    margin: 0 auto;
    @include laptop() {
        width: 90vw;
    }
    @include tablet() {
        transform: translateY(-5px);
    }
}
.main {
    margin-top: 70px;
    @include tablet() {
        margin-top: 40px;
    }
}
.section {
    border-bottom: 1px solid #cedae4;
    min-height: 453px;
    @include tablet() {
        min-height: 55px;
    }
    &--height {
        min-height: 620px;
        @include tablet() {
            min-height: 110px;
        }

    }
    &__container {
        width: 95vw;
        max-width: 960px;
        margin: 0 auto;
        padding: 70px 0;
        @include laptop() {
            width: 90vw;
        }
        @include tablet() {
            padding: 0;
        }
    }
    &__left {
        float: left;
    }
    &__right {
        float: right;
    }
    &--active {
        @include tablet() {
            min-height: 340px;
        }
    }
}
.title {
    font-size: 24px;
    margin-bottom: 30px;
    @include tablet() {
        display: inline-block;
        color: #0777b9;
        border-bottom: 1px dotted;
        margin: 15px 0;
        font-size: 18px;
        cursor: pointer;
    }
    &--link {
        border-bottom: 1px solid;
        display: inline-block;
        color: #0777b9;
        margin-top: 50px;
        cursor: pointer;
        @include tablet() {
            margin: 15px 0;
            color: #0777b9;
            border-bottom: 1px dotted #0777b9;
        }
        &:hover {
            text-decoration: none;
        }
    }
    &--f-size {
        @include tablet() {
            font-size: 16px;
        }
    }
    &--partners {
        text-align: center;
        margin: 10px 0 50px;
        @include tablet() {
            display: block;
            font-size: 18px;
            color: black;
            margin: 35px 0 25px;
            border: none;
        }
    }
}
.subtitle {
    color: #d30531;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    margin: 40px 0 15px;
    @include tablet() {
        margin-top: 20px;
    }
    &--mt {
        margin-top: 60px;
        @include tablet() {
            margin-top: 20px;
        }
    }
}
p {
    font-size: 15px;
    margin-bottom: 15px;
}
.image {
    height: 22.5vw;
    max-height: 285px;
    width: 22.5vw;
    max-width: 285px;
    position: relative;
    @include tablet() {
        display: none;
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;height: 100%;
        width: 100%;
        background: rgba(7, 119, 185, .5);
    }
    &_1 {
        background: url("./../images/content/section_1.jpg") 80% 10% / cover no-repeat;
    background-size: 115% 120%;
    }
    &_2 {
        background: url("./../images/content/section_2.jpg") 45% 35% / cover no-repeat;
        background-size: 210% 150%;
    }
    &_3 {
        background: url("./../images/content/section_3.jpg") 30% 25% / cover no-repeat;
        background-size: 165% 110%;
    }
    &_4 {
        background: url("./../images/content/section_4.jpg") 45% 0 / cover no-repeat;
        background-size: 145% 100%;
    }
}
.article {
    transition: 1s;
    @include tablet() {
        overflow: hidden;
        height: 0;
    }
    &_active {
        @include tablet() {
            height: 230px;
        }
    }
}
.mobile-icon {
    display: none;
    transform: translateX(-15px);
    width: 30px;
    @include tablet() {
        display: inline;
    }
}
.mobile-line {
    display: none;
    width: 100vw;
    color: #cedae4;
    size: 1px;
    transform: translateX(-10vw);
    margin: 0;
    @include tablet() {
        display: block;
    }
}
.mobile-arrow {
    transform: rotate(180deg);
    &_active {
        transform: rotate(180deg);
    }
    &-wrap {
        display: none;
        float: right;
        margin-top: 20px;
        @include tablet() {
            display: block;
        }
    }
}