@font-face {
    font-family: 'pt_sans_caption';
    src: url('./../fonts/ptc55f-webfont.woff2') format('woff2'),
         url('./../fonts/ptc55f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pt_sans_caption';
    src: url('./../fonts/ptc75f-webfont.woff2') format('woff2'),
         url('./../fonts/ptc75f-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}