.footer {
    min-height: 235px;
    background: #e6ecf1;
    padding: 45px 45px 40px 35px;
    position: relative;
    @include tablet() {
        min-height: 150px;
        padding: 20px 20px;
    }
    &__col {
        float: left;
    }
    &__info {
        margin-bottom: 60px;
        @include tablet() {
            margin-bottom: 0;
            text-align: center;
        }
    }
    &__list {
        @include tablet() {
            display: none;
        }
    }
    &__copyright {
        margin-bottom: 20px;
        @include tablet() {
            text-align: center;
        }
    }
    &__link {
        display: inline-block;
        border-bottom: 1px solid;
        margin-bottom: 15px;
        &:hover {
            text-decoration: none;
        }
        &--number {
            font-size: 20px;
            margin-bottom: 0;
        }
    }
    &__number-desc {
        font-size: 13px;
        margin-bottom: 23px;
        display: inline-block;
    }
    &__logo {
        @include tablet() {
            display: none;
        }
    }
    &__img {
        @include tablet() {
            display: none;
        }
        &--mobile {
            display: none;
            @include tablet() {
                display: block;
                margin: 0 auto;
            }
        }
    }
}
br {
    @include tablet() {
        display: none;
    }
}
.none {
    @include tablet() {
        display: none;
    }
}
.share-btn {
    display: none;
    position: absolute;
    right: 35px;
    bottom: 20px;
    @include tablet() {
        display: inline;
    }
}