.header {
    height: 70px;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .3);
    @include tablet() {
        height: 40px;
        padding: 10px 15px;
    }
    &__service {
        float: left;
        @include tablet() {
            display: none;
        }
        &-text {
            color: #004585;
        }
    }
    &__logo {
        float: left;
        text-align: center;
        @include tablet() {
            text-align: left;
        }
        &-icon {
            height: 42px;
            @include tablet() {
                height: 25px;
            }
        }
    }
    &__btn {
        color: #004585;
        background: transparent;
        border: 2px solid #004585;
        padding: 5px 20px;
        font-size: 15px;
        &-wrap {
            text-align: right;
            float: right;
            @include tablet() {
                display: none;
            }
        }
    }
    &__burger {
        text-align: right;
        float: right;
        margin-top: 15px;
    }
}