.navigate {
    padding-top: 50px;
    padding-bottom: 15px;
    width: 95vw;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    @include laptop() {
        width: 90vw;
    }
    @include tablet() {
        padding: 30px 0;
    }
    &__title {
        font-size: 36px;
        margin-bottom: 20px;
        text-align: center;
        @include tablet() {
            display: none;
        }
        &-mb {
            display: none;
            font-size: 20px;
            text-align: center;
            @include tablet() {
                display: block;
            }
        }
    }
    &__list {
        @include tablet() {
            display: none;
        }
    }
    &__item {
        padding: 0 15px;
        font-size: 20px;
        float: left;
        &-link {
            color: #0777b9;
            border-bottom: 1px dotted #0777b9;
        }
    }
    &__btn {
        position: absolute;
        top: 50px;
        right: -80px;
        @include laptop() {
            right: 0;
        }
        @include tablet() {
            display: none;
        }
    }
}