.partners {
    min-height: 400px;
    @include tablet() {
        min-height: 610px;
    }
    &__item {
        float: left;
        @include tablet() {
            margin-bottom: 40px;
        }
        &-wrap {
            height: 100px;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            // @include tablet() {
            //     margin-bottom: 20px;
            // }
        }
        &-link {
            text-align: center;
            display: block;
            font-size: 12px;
            font-weight: bold;
            color: black;
            &:hover {
                color: black;
                text-decoration: none;
            }
        }
        &-icon {
            display: inline-block;
            width: 100%;
            @include tablet() {
                width: 48%;
            }
            @include phone() {
                width: 75%;
            }
            &--width {
                width: 70%;
                @include tablet() {
                    width: 30%;
                }
                @include phone() {
                    width: 58%;
                }
            }
        }
    }
}